<div class="bg-blue-500">
  <h2 class="text-white p-2">Task-4</h2>
</div>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
  <div class="grid mt-3 mb-3 formgrid">
    <div class="col-3 field">
      <label for="boxOne" class="block mb-2">Box 1</label>
      <input type="text" pInputText id="boxOne" class="w-full" formControlName="boxOne" (blur)="onBlur($event)"/>
      <span *ngIf="this.myForm.get('boxOne')?.touched && this.myForm.get('boxOne')?.invalid">
        <small class="p-error block" *ngIf="this.myForm.get('boxOne')?.errors?.['required']">Value required...</small>
        <small class="p-error block" *ngIf="this.myForm.get('boxOne')?.errors?.['OverValue']">Incorrect Value</small>
      </span>
    </div>
    <div class="col-3 field">
      <label for="boxTwo" class="block mb-2">Box 2</label>
      <input type="text" pInputText id="boxTwo" class="w-full" formControlName="boxTwo"  (blur)="onBlur($event)"/>
      <span *ngIf="this.myForm.get('boxTwo')?.touched && this.myForm.get('boxTwo')?.invalid">
        <small class="p-error block" *ngIf="this.myForm.get('boxTwo')?.errors?.['required']">Value required...</small>
        <small class="p-error block" *ngIf="this.myForm.get('boxTwo')?.errors?.['OverValue']">Incorrect Value</small>
      </span>
    </div>
    <div class="col-3 field">
      <div class="absolute">
        <button pButton type="submit" label="Create Chart" class="p-button-success mt-4" [disabled]="!myForm.valid"></button>
      </div>
    </div>
</div>
</form>
<div class="grid">
  <div class="col-4">
    <p-chart type="pie" [data]="data"></p-chart>
  </div>
</div>